body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template: 180px 1fr / 300px 1fr;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif
}

/************** Sidebar styles **************/

#sidebar {
    background-color: #1992D4;
    grid-area: 1 / 1 / 3 / 2;
    padding: 24px;
}

#sidebar h1 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 28px;
}

#sidebar ul {
    padding: 16px 0 0 0;
}

#sidebar ul li {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 11px 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;

}

#sidebar ul li img {
    height: 20px;
    color: #fff;
}


/************** Header styles **************/

#header {
    background-color: #fff;
    grid-area: 1 / 2 / 2 / 3;
    padding: 24px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#topheader {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_items {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right_items {
    display: flex;
    align-items: center;
    gap: 20px;
}

#topheader .icon {
    height: 24px;
}

#topheader .avatar_sm {
    height: 42px;
}

#topheader input {
    background-color: #E2E8F0;
    border-radius: 24px;
    border: 0;
    height: 28px;
    width: 600px;
}

#bottomheader {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

#bottomheader img {
    height: 68px;
}

#bottomheader .right_items {
    gap: 12px;
}

#bottomheader button {
    color: #fff;
    background-color: #1992D4;
    border: 0;
    height: 44px;
    padding: 6px 32px;
    border-radius: 50px;
}

#greeting {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#greeting #hello {
    display:block;
    font-size: 14px;
    font-weight: 500;
}

#greeting #name {
    display:block;
    font-size: 22px;
    font-weight: 500;
}

/************** Main panel styles **************/

#mainpanel {
    background-color: #E2E8F0;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 1fr 1fr / 1fr 270px;
    box-shadow: inset 0px 14px 5px -10px rgb(0 0 0 / 10%);
    padding: 24px;
    gap: 24px;
}


#mainpanel h2 {
    padding: 0;
    margin: 0 0 12px 0;
    font-size: 18px;
    font-weight: 500;
}

#main_projects {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr 1fr;
    gap: 20px;
}

#main_projects h2 {
    grid-area:  1 / 1 / 2 / 3;
    margin: 0 0 -8px 0;
}

.tile {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 2px rgb(0 0 0 / 10%);
    flex-grow: 1;
}

.project .leftbar {
    background-color:#F0B429;
    min-width: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.project .content {
    padding: 28px 16px 24px 16px;
    display: flex;
    flex-direction: column;
}

.project .content .project_title {
    font-weight: 500;
}

.project .content .project_desc {
    font-size: 14px;
    flex-grow: 1;
    color: #888;
    margin-top: 12x;
}

.project .content .project_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
}

.project .content .project_links img {
    height: 20px;
}

#main_announcements {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

#main_trending {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
}

.announcements ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.announcement:not(:last-child) {
    border-bottom: 1px solid #ddd;
    margin-bottom: 18px;
}

.announcements {
    padding: 32px 24px;
}

.announcement_title {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.announcement_body {
    font-size: 13px;
    color: #888;
    margin: 4px 0 16px 0;
}